<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <h1><%= flair.name %></h1>

    <a href="/flairs/<%= flair.color %>/edit" class="btn btn-warning">Edit</a>

    <form style="display:initial" action="/flairs/<%= flair.id %>/destroy" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <p style="background-color: '<%= flair.color %>'"><%= flair.color %></p>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>
</html>